.cover__page {
    max-width: 1184px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../../images/Imgcover.jpg");
    text-decoration: none;
    color: #ffffff;
    position: relative;
}

.cover__page::before {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-size: cover;
    background-color: rgba(0, 0, 0, .5);
}

.cover__page:hover::before {
    opacity: 80%;
}

@media screen and (max-width: 1440px) {
    .cover__page {
        min-height: 594px;
    }
}

@media screen and (max-width: 1024px) {
    .cover__page {
        min-height: 562px;
    }
}

@media screen and (max-width: 768px) {
    .cover__page {
        min-height: 500px;
    }
}

@media screen and (max-width: 375px) {
    .cover__page {
        min-height: 272px;
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width: 320px) {
    .cover__page {
        min-height: 216px;
    }
}