@import url("../place/place.css");

.places {
    max-width: 984px;
    display: flex;
    align-items: center;
    margin: auto;
    padding-top: 32px;
}

@media screen and (max-width: 1024px) {
    .places {
        margin: 0;
        padding-right: 48px;
        padding-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        max-width: 720px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 425px) {
    .places {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-top: 18px;
    }
}