.place__image {
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .place__image {
        max-width: 440px;
        max-height: 440px;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        max-width: 340px;
        max-height: 340px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 620px) {
    .place__image {
        max-width: 425px;
        width: 100%;
        max-height: 425px;
        margin-top: 0;
    }
}