@import url("./_isactive/header__lang_isactive.css");

.header__lang {
    min-width: 30px;
    justify-content: flex-end;
    margin-left: 16px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: right;
}

.header__lang:hover {
    opacity: 0.7;
}
