.footer__links {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin: 0;
}

@media screen and (max-width: 635px) {
    .footer__links  {
        flex-direction: column;
    }
}