.lead__image {
    width: 100%;
    max-height: 554px;
    object-fit: fill;
    min-height: 554px;
}

@media screen and (max-width: 1440px) {
    .lead__image {
        margin-bottom: 7px;
    }
}

@media screen and (max-width: 1024px) {
    .lead__image {
        margin-bottom: 11px;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        margin-bottom: 8px;
        min-height: 420px;
    }
}

@media screen and (max-width: 425px) {
    .lead__image {
        margin-bottom: 9px;
        min-height: 211px;
    }
}

@media screen and (max-width: 375px) {
    .lead__image {
        min-height: auto;
    }
}