.page {
    width: 100%;
    margin: 0 auto;
    background-color: #2A2C2F;
    align-items: center;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}
