@import url("./__item/photos__item.css");

.photos {
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    margin: 0 auto;
    grid-gap: 16px;
}

@media screen and (max-width: 1183px) {
    .photos {
        max-width: 1183px;
        padding-left: 48px;
        padding-right: 48px;
        margin: 0;
    }
}

@media screen and (max-width: 1024px) {
    .photos {
        max-width: 928px;
        /* padding-left: 48px;
        padding-right: 48px;
        margin: 0; */
    }
}

@media screen and (max-width: 768px) {
    .photos {
        max-width: 720px;
        padding-left: 24px;
        padding-right: 24px;
        margin: 0;
    }
}

@media screen and (max-width: 425px) {
    .photos {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 2px;
    }
}

@media screen and (max-width: 320px) {
    .photos {
        grid-gap: 8px;
    }
}